
 
    
    /* univisted link */
    a:link {
      color:black;
    }

    .header {
    	background-color: tomato;
}

/* NAV bar */
.navigation {
  height: 70px;
  background: #262626;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
} 

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
/* end of nav bar */


h4{

	color:#DFB259;
	font-size:20px;
}

h6{
	color:#DFB259;
	font-size:20px;
}
    h1{
    	color:#DFB259;
    }
.jumbotron {
      background-color:  #DFB259;
      color: #DFB259;
  }

  p{
  	color:#DFB259;
  }

  h3{
  	color:#DFB259;
  }

  li{
  	color:#DFB259;
  }

  span{
  	color:#DFB259;
  }

    body{
  margin:2;
  background:#012236 ;
}

  
h2 {
  font-size: 1em;
  text-align: center;
}
.embiggen {
  font-size: 4em;
  text-shadow: 0 0 40px #ffbab3;
}
.embiggen1 {
  font-size: 2em;
  text-shadow: 0 0 40px #ffbab3;
}
.embiggen2 {
  font-size: 1.9em;
  text-shadow: 0 0 40px #ffbab3;
}
article {
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto 50px;
}

.subtitle {
  margin: 0 0 2em 0;
  font-size: 10px;
}
.fancy {
  line-height: 3;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.amp {
  margin: 0 0 0.25em 0;
}
.amp span {
  font-size: 0.7em;
}

.copy {
  font: 1em Georgia, Serif;
  text-align: justify;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
}
.copy p {
  margin: 0 0 1em 0;
}
hr { 
  border: 0; 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8c8c; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8c8c; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

